.projectStage {
    width: 23%;
    margin-left: 20px;
}

.projectStage .header-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px 0;
}

.actions span.item {
    padding: 0 10px;
}

.projectStage .header-section .title{
    font-size: 18px;
    font-weight: 500;
}

.projectStage .tasks{
    height: 80vh;
}
