.page.projects{
    display: flex;
    justify-content: center;
    align-items: center;
}

.projects .list {
    list-style: none;
    padding: 0;
    height: 500px;
    overflow-y: auto;
}
.projects .list li {
    color: #686885;
    padding: 10px 20px;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    margin-bottom: 10px;
    cursor: pointer;
    background-color: #f6f6fd;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.projects .list li:hover{
    background-color: #f0e6e6;
}


.projects .box{
    padding: 0;
}

.projects .title{
    text-align: center;
    font-weight: 400;
}

:root {
    --code-color: darkred;
    --code-bg-color: #ccc5c5;
    --code-font-size: 14px;
    --code-line-height: 1.4;
    --scroll-bar-color: #c45af8;
    --scroll-bar-bg-color: #f6f6f6;
}

pre {
    color: var(--code-color);
    font-size: var(--code-font-size);
    line-height: var(--code-line-height);
    background-color: var(--code-bg-color);
}

.code-block {
    max-height: 100px;
    overflow: auto;
    padding: 8px 7px 5px 15px;
    margin: 0px 0px 0px 0px;
    border-radius: 7px;
}

